/* Meriweather Font */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 1.2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Merriweather", serif;
  font-size: 25px;
  font-weight: 700;
  color: #254D4D;
}

.nav__links {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav__links a {
  text-decoration: none;
  color: #171717;
  font-weight: 500;
  font-size: 16px;
}

.nav__links a:hover {
  color: #254D4D;
}

.nav__search i {
  font-size: 22px;
  cursor: pointer;
  color: #171717;
}
